.config
8278c562a57ac33c1428531149ba02ac.zip
climate_data
sample_data
elevation_data
reanalysis-era5-single-levels-monthly-means
CIESIN_SEDAC_GRUMPv1_EXT_1.00-20250803_203707
LandUse
elevation.zip
.ipynb_checkpoints